//variables de colores 
$color-letter-primary:#171717;
$color-letter-secundary:#FFFFFF;
$color-border:  #cccccc;
$color-html: #E93E30; 
$color-css: #299ED5; 
$color-js: #F7E018; 
$color-boostrap: #563D7C;
$color-react: #292C33; 
$color-vue: #67C770;
$color-fondo: #729e2e;

//variables de letras 
$titulo:28px;
$subtitulos:24px;
$parrafos:18px;
$subtitulos-secundary:20px;
$parrafos-secundary:16px;